#pokemon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
  border: solid 5px black;
}

.modal-body {
  color: black;
}

#pokeModal h2 {
    margin: 0;
    color: blue;
}

#pokeModal h3 {
    margin: 0;
    color: blue;
}

#pokeModal img {
    width: 200px;
    height: 200px;
}



.pokemonCard {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}